.toolbar-wrapper{
    padding: 0px 7.5%;
}

.example-spacer {
    flex: 1 1 auto;
}

.head-title {
    margin-left: .5rem;
    cursor: pointer;
}

.toolbar-button {
    color:#673ab7;
    background-color: #fff;
}

mat-icon {
    cursor: pointer;
}